<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asusnb.travelsurvivalunit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".RegisterSecondScreen" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CategoriesPage" />
        <activity android:name=".TypeTheCode" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".TraditionsActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".SubWithSpace" />
        <activity android:name=".Subs" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".FunFactsActivity" />
        <activity android:name=".WorldClocks" />
        <activity android:name=".MyFavouritesActivity" />
        <activity android:name=".FavouritesActivity"></activity>
    </application>

</manifest>